*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// left section
.left-section{
  ul{
    li:hover{
      background-color: #313131;
      border-radius: 10px;
    }
    li{
      height: 50px;
      transition: 0.1s;
      list-style: none;
      a{
        height: 100%;
        display: flex;
        align-items: center;
        padding-left:10px ;
        margin: 10px 0;
        .img{
          width: 20%;
          img{
            width: 85%;
            border-radius: 50%; 
          }
          i{
            font-size: 30px;
            color:#4a8de4;;
          }
        }
        h5{
          color: #fff;
          width: 80%;
          margin: auto 0;
          padding-left:8px;
          text-transform: capitalize;
          letter-spacing: 0.5px;
          font-size: 15px;
        }
      }
    }
  }
}

// center section
.left-section{
  // story section
  .story{
    background-color: #313131;
    margin: 15px 0;
    
  }
}